Package: com.m4cs.control-center.ezsecretsettings
Name: EzSecretSettings
Version: 1.0
Architecture: iphoneos-arm
Description: A Mage toggle button for your Control Center.
Author: M4cs
Section: Control Center (Modules)
Maintainer: M4cs